Repository Lucas-C/ludochaordic: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

.pre-commit-config.yaml:

repos:
-   repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-merge-conflict
    -   id: trailing-whitespace
-   repo: git://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
    -   id: remove-crlf
        exclude: npp/.*\.xml
    -   id: remove-tabs
-   repo: local
    hooks:
    -   id: forbid-empty-img-alt-in-markdown
        name: Ensure Markdown images have an alternative text for accessibility
        language: pygrep
        entry: "!\\[\\]\\("
        files: \.md$
        exclude: certification-developpeur-rgaa-access42|rendering-deep-text-based-mindmaps-with-wisemapping-and-python
    -   id: forbid-md-links-starting-with-a-slash
        name: Forbid Markdown hyperlinks starting with a slash
        language: pygrep
        entry: "\\]\\(/(?!(?:/|lucas))"
        files: \.md$
        exclude: content/2017-09-25-compte-rendu-de-la-pyconfr-2017.md
    -   id: insert-at-least-a-tag-link-in-articles
        name: Insert at least a tag link in articles
        language: pygrep
        entry: "tag/"
        args: [--negate]
        files: \.md$
        exclude: content/2017-09-25-compte-rendu-de-la-pyconfr-2017.md
    -   id: ensure-dates-match
        name: Ensure articles publication Date match their filenames
        language: system
        entry: ./ensure_dates_match.sh
        files: content/20[^/]+\.md$
    # -   id: ensure-readings-have-date
        # name: Ensure readings section of pelicanconf.py contain dates
        # language: system
        # entry: ./auto_annotate_pelicanconf_readings_with_date.py
        # files: pelicanconf.py

Minor edits
  content/2019-06-15-2200-le-jugement-des-dieux.md
  content/2026-07-19-abducted-negotiators.md
  content/pages/30-images-libres-de-droits.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

CHUM
  .vscode/settings.json
  content/2021-09-18-la-brigade-du-chaos.md
  content/2026-07-19-abducted-negotiators.md
  content/2026-08-02-chum.md
  content/pages/20-jeux-de-role.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor updates
  content/pages/10-projets-en-cours.md
  content/pages/30-images-libres-de-droits.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles

Minor updates
  .vscode/settings.json
  content/2017-09-09-premiere-partie-test-de-blades-in-dark.md
  content/2025-03-10-quelques-sites-web-que-jai-concu.md
  content/pages/10-projets-en-cours.md
  content/pages/jdr-blades-in-the-dark.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Publishing new article
  content/2023-11-14-sombre-terminatrice.md
  content/2026-08-17-some-games-I-am-eager-to-test.md
  content/pages/21-jdr-favoris.md
  content/pages/22-jeux-qui-me-font-envie.md
  content/pages/jdr-blades-in-the-dark.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Preparing BitD game session
  content/2026-08-17-some-games-I-am-eager-to-test.md
  content/pages/30-images-libres-de-droits.md
  content/pages/jdr-blades-in-the-dark.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor edits
  content/pages/jdr-blades-in-the-dark.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles

Minor edits
  content/pages/30-images-libres-de-droits.md
  content/pages/jdr-blades-in-the-dark.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles

BitD session summary in progress...
  .vscode/settings.json
  content/2025-03-10-quelques-sites-web-que-jai-concu.md
  content/pages/jdr-blades-in-the-dark.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Fin récap BitD
  .vscode/settings.json
  content/pages/22-jeux-qui-me-font-envie.md
  content/pages/jdr-blades-in-the-dark.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles

Current reading
  content/pages/jdr-blades-in-the-dark.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles

Current reading
  pelicanconf.py
Due: none

Latest listening
  pelicanconf.py
Due: none

Article Logo Ludochaordic
  content/2022-02-14-elliot-jolivet-aka-tensei.md
  content/2026-08-17-some-games-I-am-eager-to-test.md
  content/2026-09-18-logo-pour-ludochaordic.md
  content/pages/31-je-soutiens.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Latest listenings & readings
  pelicanconf.py
  requirements.txt
Due: none
