Repository Lucas-C/ludochaordic: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

.pre-commit-config.yaml:

repos:
-   repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-merge-conflict
    -   id: trailing-whitespace
-   repo: git://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
    -   id: remove-crlf
        exclude: npp/.*\.xml
    -   id: remove-tabs
-   repo: local
    hooks:
    -   id: forbid-empty-img-alt-in-markdown
        name: Ensure Markdown images have an alternative text for accessibility
        language: pygrep
        entry: "!\\[\\]\\("
        files: \.md$
        exclude: certification-developpeur-rgaa-access42|rendering-deep-text-based-mindmaps-with-wisemapping-and-python
    -   id: forbid-md-links-starting-with-a-slash
        name: Forbid Markdown hyperlinks starting with a slash
        language: pygrep
        entry: "\\]\\(/(?!(?:/|lucas))"
        files: \.md$
        exclude: content/2017-09-25-compte-rendu-de-la-pyconfr-2017.md
    -   id: insert-at-least-a-tag-link-in-articles
        name: Insert at least a tag link in articles
        language: pygrep
        entry: "tag/"
        args: [--negate]
        files: \.md$
        exclude: content/2017-09-25-compte-rendu-de-la-pyconfr-2017.md
    -   id: ensure-dates-match
        name: Ensure articles publication Date match their filenames
        language: system
        entry: ./ensure_dates_match.sh
        files: content/20[^/]+\.md$
    # -   id: ensure-readings-have-date
        # name: Ensure readings section of pelicanconf.py contain dates
        # language: system
        # entry: ./auto_annotate_pelicanconf_readings_with_date.py
        # files: pelicanconf.py

Minor edits
  content/pages/jdr-blades-in-the-dark.md
  content/pages/jdr-mothership.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles

Adding 2023-06-03-jdr-cet-ete-a-champtoce.md
  content/2023-04-03-fpdf2-latest-new-features.md
  content/2023-06-03-jdr-cet-ete-a-champtoce.md
  content/pages/30-images-libres-de-droits.md
  content/pages/jdr-blades-in-the-dark.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor update
  content/2017-08-17-aux-marches-du-pouvoir.md
  content/2023-04-03-fpdf2-latest-new-features.md
  content/2023-06-03-jdr-cet-ete-a-champtoce.md
  content/pages/jdr-blades-in-the-dark.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor edits
  content/2017-08-17-aux-marches-du-pouvoir.md
  content/2022-03-07-ptites-sorcieres.md
  content/pages/jdr-blades-in-the-dark.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

MAJ notes JdRs
  content/pages/jdr-blades-in-the-dark.md
  content/pages/jdr-la-lune-et-12-lotus.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles

BitD update
  content/2023-03-28-slots-memory-optimizations-in-python.md
  content/pages/jdr-blades-in-the-dark.md
  content/pages/jdr-la-lune-et-12-lotus.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

BitD update
  content/2023-03-28-slots-memory-optimizations-in-python.md
  content/pages/jdr-blades-in-the-dark.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

BitD update
  content/pages/jdr-blades-in-the-dark.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles

Latest reading
  pelicanconf.py
Due: none

Minor edit
  content/pages/jdr-blades-in-the-dark.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles

Latest readings
  content/pages/jdr-blades-in-the-dark.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles

Add 2023-08-11-alice-is-missing.md
  content/2023-08-11-alice-is-missing.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Latest reading
  content/2023-08-11-alice-is-missing.md
  content/pages/jdr-blades-in-the-dark.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor update
  content/pages/jdr-blades-in-the-dark.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles

Update jdr-blades-in-the-dark.md
  content/2020-01-15-espace-profond-et-sanglant.md
  content/pages/30-images-libres-de-droits.md
  content/pages/jdr-blades-in-the-dark.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Update jdr-blades-in-the-dark.md
  content/pages/jdr-blades-in-the-dark.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles

Latest reading
  content/pages/30-images-libres-de-droits.md
  content/pages/jdr-blades-in-the-dark.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles

Adding 2023-10-11-programme-d-octobre-au-kawasso.md
  README.md
  content/2023-10-11-programme-d-octobre-au-kawasso.md
  tasks.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Latest reading
  content/pages/30-images-libres-de-droits.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles

Ajout 2023-10-30-programme-de-novembre-au-kawasso
  content/2023-10-30-programme-de-novembre-au-kawasso.md
  content/pages/30-images-libres-de-droits.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Adding 2023-11-14-sombre-terminatrice.md
  content/2023-10-11-programme-d-octobre-au-kawasso.md
  content/2023-10-30-programme-de-novembre-au-kawasso.md
  content/2023-11-14-sombre-terminatrice.md
  content/pages/50-net-art.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Adding 2023-12-18-sombre-lab-escape.md
  content/2021-12-29-vous-reprendrez-bien-un-peu-de-sombre.md
  content/2022-12-27-psi-run-le-manoir.md
  content/2023-11-14-sombre-terminatrice.md
  content/2023-12-18-sombre-lab-escape.md
  content/pages/20-jeux-de-role.md
  content/pages/30-images-libres-de-droits.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor fixup
  content/2023-12-18-sombre-lab-escape.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor addition
  content/2023-12-18-sombre-lab-escape.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Fixed broken images
  content/pages/50-net-art.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles

Adding cyberpunk.md
  content/2019-01-05-scavengers-anomalies-nauchoresques.md
  content/2019-06-16-dungeon-heart-heroes-and-spells.md
  content/2020-05-11-3-derniers-scenarios-pour-run-die-repeat-et-version-pdf.md
  content/2020-11-30-les-couloirs-du-temps-un-scenario-pour-run-die-repeat.md
  content/2021-04-19-run-die-repeat-docteur-lestrange.md
  content/2021-09-18-la-brigade-du-chaos.md
  content/2022-07-26-3-nouveaux-scenarios-pour-run-die-repeat.md
  content/2022-11-24-world-of-dungeons-turbo-breakers.md
  content/2022-12-07-adj-pour-la-lune-et-12-lotus.md
  content/2022-12-27-psi-run-le-manoir.md
  content/2023-12-18-sombre-lab-escape.md
  content/2023-12-22-cyberpunk.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor edits
  content/2022-12-26-la-tour-ciel-aveugle.md
  content/2023-12-18-sombre-lab-escape.md
  content/2023-12-22-cyberpunk.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor edits
  content/2023-12-22-cyberpunk.md
  content/pages/jdr-blades-in-the-dark.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor edits
  content/2023-12-22-cyberpunk.md
  content/images/bitd/radar_chart.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor edits
  content/2023-12-22-cyberpunk.md
  content/images/bitd/radar_chart.py
  content/pages/30-images-libres-de-droits.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor edits
  content/pages/99-mentions-legales.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles

Adding sombre-resolutions-6-suggestions-pour-les-joueurs.md
  content/2023-12-18-sombre-lab-escape.md
  content/2023-12-22-cyberpunk.md
  content/2024-01-20-sombre-resolutions-6-suggestions-pour-les-joueurs.md
  content/pages/jdr-blades-in-the-dark.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Bitd campaign update
  content/2021-04-24-undying-dusk-a-pdf-video-game.md
  content/2024-01-20-sombre-resolutions-6-suggestions-pour-les-joueurs.md
  content/pages/jdr-blades-in-the-dark.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor edits
  content/pages/jdr-blades-in-the-dark.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles
