Repository Lucas-C/ludochaordic: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

forbid-empty-img-alt-in-markdown:
  name: Ensure Markdown images have an alternative text for accessibility
  language: pygrep
  entry: '!\[\]\('

forbid-md-links-starting-with-a-slash:
  name: Forbid Markdown hyperlinks starting with a slash
  language: pygrep
  entry: \]\(/(?!(?:/|lucas))

insert-at-least-a-tag-link-in-articles:
  name: Insert at least a tag link in articles
  language: pygrep
  entry: tag/
  args:
  - --negate

ensure-dates-match:
  name: Ensure articles publication Date match their filenames
  language: system
  entry: ./ensure_dates_match.sh

Adding bookmarklet-to-auto-pass-cities-on-okcupid
  content/2015-02-25-convert-code-to-pdf-with-syntax-coloring.md
  content/2015-04-08-contre-le-patriot-act-a-la-francaise-et-linterception-des-photos-de-penis.md
  content/2015-05-12-une-journee-comme-devops-a-amazon-web-services.md
  content/2017-11-06-quelques-courts-metrages-des-utopiales-2017.md
  content/2018-12-03-au-revoir-jugger-machina-meles.md
  content/2020-01-06-run-die-repeat.md
  content/2020-01-23-vincenzo-repression-policiere-et-mae.md
  content/2020-02-06-minutes-of-the-fosdem-2020-conference.md
  content/2020-07-02-operation-dur-a-cuire.md
  content/2021-12-29-vous-reprendrez-bien-un-peu-de-sombre.md
  content/2022-01-02-bookmarklet-to-auto-pass-cities-on-okcupid.md
  content/numberphile-question-6.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor edits
  content/2022-01-02-bookmarklet-to-auto-pass-cities-on-okcupid.md
  content/pages/open-source.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor typo fix
  content/2021-09-18-la-brigade-du-chaos.md
  content/2021-12-30-tel-ulysse.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Adding generative-art article
  content/2018-02-14-reverse-engineering-the-http-api-behind-an-android-app.md
  content/2018-02-18-glitch-art-and-image-processing-with-python.md
  content/2018-11-14-quelques-suggestions-pour-debuter-en-jdr-gratuites-et-en-francais.md
  content/2018-12-18-mothership-hive-mind.md
  content/2020-01-06-run-die-repeat.md
  content/2021-12-30-tel-ulysse.md
  content/2022-02-12-generative-art.md
  content/pages/00-bienvenue.md
  content/pages/20-jeux-de-role.md
  content/pages/21-jdr-favoris.md
  content/pages/30-images-libres-de-droits.md
  content/pages/40-open-source.md
  content/pages/41-slides.md
  content/pages/50-net-art.md
  content/pages/99-mentions-legales.md
  content/pages/jdr-blades-in-the-dark.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Adding article elliot-jolivet-aka-tensei
  content/2019-06-15-2200-le-jugement-des-dieux.md
  content/2020-06-20-catapulte-et-fongicide.md
  content/2020-10-19-where-is-mush-radio.md
  content/2021-03-20-mush-radio-est-sorti.md
  content/2022-02-14-elliot-jolivet-aka-tensei.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Publish elliot-jolivet-aka-tensei
  content/2022-02-14-elliot-jolivet-aka-tensei.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

30-images-libres-de-droits.md update
  content/pages/30-images-libres-de-droits.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles

Adding 2022-03-07-ptites-sorcieres.md
  content/2021-12-30-tel-ulysse.md
  content/2022-02-12-generative-art.md
  content/2022-02-14-elliot-jolivet-aka-tensei.md
  content/2022-03-07-ptites-sorcieres.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Extra animated illustration
  content/2022-03-07-ptites-sorcieres.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor fixups
  content/2022-03-07-ptites-sorcieres.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor tags update
  content/2017-08-17-aux-marches-du-pouvoir.md
  content/2018-11-10-the-red-panda-intelligence-divisions-revenge.md
  content/2018-11-14-quelques-suggestions-pour-debuter-en-jdr-gratuites-et-en-francais.md
  content/2018-11-18-dog-bear.md
  content/2018-11-20-genie-domestique.md
  content/2018-12-08-la-tour-et-cheat-your-own-adventure.md
  content/2019-03-13-dans-la-nuit-longue-et-glacee.md
  content/2019-04-11-ldcslg-et-l-ile-mysterieuse.md
  content/2019-05-27-dungeon-heart.md
  content/2019-06-15-2200-le-jugement-des-dieux.md
  content/2019-07-19-braquage-en-plein-jour.md
  content/2020-01-06-run-die-repeat.md
  content/2020-01-15-espace-profond-et-sanglant.md
  content/2020-02-19-avgd-nouvelle-mouture.md
  content/2020-03-02-les-non-morts.md
  content/2020-07-02-operation-dur-a-cuire.md
  content/2021-04-16-ce-nest-pas-une-place-dhonneur.md
  content/2021-07-09-double-feature-sombre.md
  content/2021-09-18-la-brigade-du-chaos.md
  content/2021-12-29-vous-reprendrez-bien-un-peu-de-sombre.md
  content/2021-12-30-tel-ulysse.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Adding new-creative-commons-artists
  content/2022-03-07-ptites-sorcieres.md
  content/2022-03-20-new-creative-commons-artists.md
  content/pages/30-images-libres-de-droits.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor: adding missing post image
  content/2022-03-20-new-creative-commons-artists.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Ajouts dans 30-images-libres-de-droits.md
  content/pages/30-images-libres-de-droits.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles

Current reading
  content/pages/30-images-libres-de-droits.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles

30-images-libres-de-droits.md update
  content/pages/30-images-libres-de-droits.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles

Adding fpdf2-5-2-svg-support-and-borb
  content/2022-04-24-fpdf2-5-2-svg-support-and-borb.md
  content/pages/30-images-libres-de-droits.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor language fixups
  content/2022-04-24-fpdf2-5-2-svg-support-and-borb.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor edits
  content/2022-04-24-fpdf2-5-2-svg-support-and-borb.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor edit
  content/2022-04-24-fpdf2-5-2-svg-support-and-borb.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Adding crafting-nonograms-that-reveal-qr-codes
  content/2022-04-24-fpdf2-5-2-svg-support-and-borb.md
  content/2022-05-01-crafting-nonograms-that-reveal-qrcodes.md
  content/pages/30-images-libres-de-droits.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor update & missing GIF
  content/2022-05-01-crafting-nonograms-that-reveal-qrcodes.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Update free-alerting-as-a-service-drop-in-replacement-for-mail-command
  content/2018-02-16-free-alerting-as-a-service-drop-in-replacement-for-mail-command.md
  content/pages/30-images-libres-de-droits.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Adding deploying-aws-api-gateway-static-endpoints-using-terraform
  content/2014-11-29-la-tete-dans-le-guidon.md
  content/2014-12-11-replicating-phpsessid-and-srctoken-session-authentication-with-mitmproxy.md
  content/2017-05-17-record-an-existing-voicemail-message-with-python.md
  content/2018-02-16-free-alerting-as-a-service-drop-in-replacement-for-mail-command.md
  content/2022-05-04-deploying-aws-api-gateway-static-endpoints-using-terraform.md
  content/a-review-of-html-linters.md
  content/pages/10-wip-and-mailing-list.md
  content/pages/jdr-in-cognito.md
  content/pages/video-game-writing-advices.md
  content/tomorrow-s-software-ethics.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Reading update
  content/pages/30-images-libres-de-droits.md
  content/tomorrow-s-software-ethics.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles

Ajout session BitD
  content/pages/jdr-blades-in-the-dark.md
  content/pages/video-game-writing-advices.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles

Current reading
  content/pages/jdr-blades-in-the-dark.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles

Add financez-l-epine-noire
  content/2018-11-23-game-of-life-favicon.md
  content/2020-04-27-lancement-d-un-tipeee-pour-mush-radio.md
  content/2020-05-30-la-bataille-contre-les-spores-fait-rage.md
  content/2020-06-20-catapulte-et-fongicide.md
  content/2020-10-19-where-is-mush-radio.md
  content/2021-03-20-mush-radio-est-sorti.md
  content/2022-06-27-financez-l-epine-noire.md
  content/pages/30-images-libres-de-droits.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Adding lady-blackbird article
  content/2018-11-14-quelques-suggestions-pour-debuter-en-jdr-gratuites-et-en-francais.md
  content/2019-02-15-pc-local-multiplayer-games.md
  content/2020-03-16-faire-decouvrir-le-jdr-et-fete-du-jeu.md
  content/2020-07-02-operation-dur-a-cuire.md
  content/2021-09-18-la-brigade-du-chaos.md
  content/2021-12-03-defi-trois-fois-forge-2021.md
  content/2021-12-28-5min-dungeon-variant.md
  content/2021-12-29-vous-reprendrez-bien-un-peu-de-sombre.md
  content/2022-03-07-ptites-sorcieres.md
  content/2022-07-25-lady-blackbird.md
  content/lady-blackbird.md
  content/pages/20-jeux-de-role.md
  content/pages/21-jdr-favoris.md
  content/pages/30-images-libres-de-droits.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

3 more RDR scenarios
  content/2021-04-19-run-die-repeat-docteur-lestrange.md
  content/2021-12-03-defi-trois-fois-forge-2021.md
  content/2021-12-28-5min-dungeon-variant.md
  content/2022-07-26-3-nouveaux-scenarios-pour-run-die-repeat.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor updates
  content/2021-04-19-run-die-repeat-docteur-lestrange.md
  content/2021-12-29-vous-reprendrez-bien-un-peu-de-sombre.md
  content/2022-02-12-generative-art.md
  content/2022-07-25-lady-blackbird.md
  content/2022-07-26-3-nouveaux-scenarios-pour-run-die-repeat.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor update
  content/2022-07-25-lady-blackbird.md
  content/2022-07-26-3-nouveaux-scenarios-pour-run-die-repeat.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Draft rumble-in-the-dungeon
  content/2018-11-14-quelques-suggestions-pour-debuter-en-jdr-gratuites-et-en-francais.md
  content/2022-07-25-lady-blackbird.md
  content/2022-08-09-rumble-in-the-dungeon.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Publish rumble-in-the-dungeon
  content/2022-08-11-rumble-in-the-dungeon.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Adding jokes
  content/2022-08-11-rumble-in-the-dungeon.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Adding sitemap
  pelicanconf.py
  requirements.txt
Due: none

Current reading
  pelicanconf.py
Due: none

Path conditions:
  forbid-empty-img-alt-in-markdown: any of: \.md$, but not: certification-developpeur-rgaa-access42|rendering-deep-text-based-mindmaps-with-wisemapping-and-python
  forbid-md-links-starting-with-a-slash: any of: \.md$, but not: content/2017-09-25-compte-rendu-de-la-pyconfr-2017.md
  insert-at-least-a-tag-link-in-articles: any of: \.md$, but not: content/2017-09-25-compte-rendu-de-la-pyconfr-2017.md
  ensure-dates-match: any of: content/20[^/]+\.md$
