Repository Lucas-C/ludochaordic: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

.pre-commit-config.yaml:

repos:
-   repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-merge-conflict
    -   id: trailing-whitespace
-   repo: git://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
    -   id: remove-crlf
        exclude: npp/.*\.xml
    -   id: remove-tabs
-   repo: local
    hooks:
    -   id: forbid-empty-img-alt-in-markdown
        name: Ensure Markdown images have an alternative text for accessibility
        language: pygrep
        entry: "!\\[\\]\\("
        files: \.md$
        exclude: certification-developpeur-rgaa-access42|rendering-deep-text-based-mindmaps-with-wisemapping-and-python
    -   id: forbid-md-links-starting-with-a-slash
        name: Forbid Markdown hyperlinks starting with a slash
        language: pygrep
        entry: "\\]\\(/(?!(?:/|lucas))"
        files: \.md$
        exclude: content/2017-09-25-compte-rendu-de-la-pyconfr-2017.md
    -   id: insert-at-least-a-tag-link-in-articles
        name: Insert at least a tag link in articles
        language: pygrep
        entry: "tag/"
        args: [--negate]
        files: \.md$
        exclude: content/2017-09-25-compte-rendu-de-la-pyconfr-2017.md
    -   id: ensure-dates-match
        name: Ensure articles publication Date match their filenames
        language: system
        entry: ./ensure_dates_match.sh
        files: content/20[^/]+\.md$
    # -   id: ensure-readings-have-date
        # name: Ensure readings section of pelicanconf.py contain dates
        # language: system
        # entry: ./auto_annotate_pelicanconf_readings_with_date.py
        # files: pelicanconf.py

BitD campaign update
  content/pages/jdr-blades-in-the-dark.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles

Update supports
  content/pages/31-je-soutiens.md
  content/pages/jdr-blades-in-the-dark.md
  pelicanconf.py
  tasks.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles

Minor BitD update
  content/pages/jdr-blades-in-the-dark.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles

Latest readings
  pelicanconf.py
Due: none

Adding 2024-04-15-setting-up-linters-in-gitlab-ci-for-c-and-groovy-jenkins-code
  content/2024-04-15-setting-up-linters-in-gitlab-ci-for-c-and-groovy-jenkins-code.md
  content/pages/jdr-blades-in-the-dark.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor edits
  content/2024-04-15-setting-up-linters-in-gitlab-ci-for-c-and-groovy-jenkins-code.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor edits
  content/2024-04-15-setting-up-linters-in-gitlab-ci-for-c-and-groovy-jenkins-code.md
  content/pages/jdr-blades-in-the-dark.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Adding a-tricky-pitfall-of-promise-all-and-a-solution
  content/2019-10-21-using-python-requests-futures-to-crawl-all-jobs-on-a-jenkins-4-times-faster.md
  content/2024-04-15-setting-up-linters-in-gitlab-ci-for-c-and-groovy-jenkins-code.md
  content/2024-04-16-a-tricky-pitfall-of-promise-all-and-a-solution.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor edits
  content/2024-01-20-sombre-resolutions-6-suggestions-pour-les-joueurs.md
  content/2024-04-15-setting-up-linters-in-gitlab-ci-for-c-and-groovy-jenkins-code.md
  content/2024-04-16-a-tricky-pitfall-of-promise-all-and-a-solution.md
  content/pages/30-images-libres-de-droits.md
  content/pages/jdr-blades-in-the-dark.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor edits
  content/2023-12-22-cyberpunk.md
  content/2024-04-16-a-tricky-pitfall-of-promise-all-and-a-solution.md
  content/pages/31-je-soutiens.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Latest reading
  pelicanconf.py
Due: none

Latest reading
  content/pages/31-je-soutiens.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles

Minor edits
  content/2015-04-08-contre-le-patriot-act-a-la-francaise-et-linterception-des-photos-de-penis.md
  content/2022-11-24-world-of-dungeons-turbo-breakers.md
  content/2023-12-22-cyberpunk.md
  content/a-review-of-html-linters.md
  content/pages/30-images-libres-de-droits.md
  content/pages/31-je-soutiens.md
  content/pages/jdr-in-cognito.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Adding tshirts-en-soutien-au-nouveau-front-populaire
  content/2024-06-14-tshirts-en-soutien-au-nouveau-front-populaire.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor edits
  content/2024-06-14-tshirts-en-soutien-au-nouveau-front-populaire.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

BitD - Session 15
  content/2017-09-09-premiere-partie-test-de-blades-in-dark.md
  content/2018-11-10-the-red-panda-intelligence-divisions-revenge.md
  content/2023-04-03-fpdf2-latest-new-features.md
  content/2023-12-22-cyberpunk.md
  content/fpdf2-latest-news.md
  content/pages/jdr-blades-in-the-dark.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

BitD - Session 15 - fin du recap
  content/pages/jdr-blades-in-the-dark.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles

BitD - Session 15 - ToC
  content/pages/jdr-blades-in-the-dark.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles

BitD - Session 15 - Minor fixups
  content/pages/jdr-blades-in-the-dark.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles

BitD - Session 15 - Minor fixups
  .vscode/settings.json
  content/pages/jdr-blades-in-the-dark.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles

Adding blades-in-the-dark-interrogatoires
  content/2024-08-14-blades-in-the-dark-interrogatoires.md
  content/pages/30-images-libres-de-droits.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor update
  content/2016-11-02-til-cows-tear-us-apart-et-hop-slide.md
  content/2018-01-08-daniel-linssen-latest-wonderful-games.md
  content/2018-12-02-ameres-victoires-et-glorieuses-defaites.md
  content/2020-02-19-avgd-nouvelle-mouture.md
  content/2020-03-02-les-non-morts.md
  content/2020-11-30-les-couloirs-du-temps-un-scenario-pour-run-die-repeat.md
  content/2021-03-20-mush-radio-est-sorti.md
  content/2021-04-19-run-die-repeat-docteur-lestrange.md
  content/2022-12-27-psi-run-le-manoir.md
  content/2023-12-18-sombre-lab-escape.md
  content/2023-12-22-cyberpunk.md
  content/2024-08-15-blades-in-the-dark-interrogatoires.md
  content/pages/20-jeux-de-role.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

New blog post
  content/2018-02-16-free-alerting-as-a-service-drop-in-replacement-for-mail-command.md
  content/2024-08-18-street-art-via-terra-aventura-a-bressuire.md
  content/pages/30-images-libres-de-droits.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Adding double-feature-horrifique
  content/2014-10-03-thesheepest-grenoble-street-art.md
  content/2015-10-20-spyfall-en-print.md
  content/2017-09-07-street-art-and-hedonogeolostism-in-london.md
  content/2022-03-20-new-creative-commons-artists.md
  content/2024-08-18-street-art-via-terra-aventura-a-bressuire.md
  content/2024-09-02-double-feature-horrifique.md
  content/fpdf2-latest-news.md
  content/pages/30-images-libres-de-droits.md
  content/retour-d-experience-sur-un-voyage-a-velo-jusqu-en-croatie.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor spelling fixups
  .vscode/settings.json
  content/2024-08-18-street-art-via-terra-aventura-a-bressuire.md
  content/2024-09-02-double-feature-horrifique.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Latest reading: Bourdieu : une enquête algérienne
  content/2024-09-02-double-feature-horrifique.md
  content/pages/30-images-libres-de-droits.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Another current reading
  pelicanconf.py
Due: none

Adding modules-de-secours.html
  content/2016-11-02-til-cows-tear-us-apart-et-hop-slide.md
  content/2021-09-18-la-brigade-du-chaos.md
  content/2024-10-01-modules-de-secours.md
  content/pages/20-jeux-de-role.md
  content/pages/30-images-libres-de-droits.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Add 2024-10-07-jdr-en-festival-ludique.md
  .vscode/settings.json
  content/2024-10-07-jdr-en-festival-ludique.md
  content/pages/jdr-blades-in-the-dark.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor edits
  content/2023-12-18-sombre-lab-escape.md
  content/2023-12-22-cyberpunk.md
  content/2024-10-07-jdr-en-festival-ludique.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Adding fpdf2-latest-news.md
  .vscode/settings.json
  content/2024-10-14-fpdf2-latest-news.md
  content/fpdf2-latest-news.md
  pelicanconf.py
  publishconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor fixup for last article
  content/2024-10-14-fpdf2-latest-news.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor CSS/JS updates in last post
  content/2024-10-14-fpdf2-latest-news.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Another current reading
  content/2024-10-14-fpdf2-latest-news.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Latest reading & 30-images-libres-de-droits.md update
  content/pages/30-images-libres-de-droits.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles

30-images-libres-de-droits.md update
  content/pages/30-images-libres-de-droits.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles
