Repository Lucas-C/ludochaordic: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

forbid-empty-img-alt-in-markdown:
  name: Ensure Markdown images have an alternative text for accessibility
  language: pygrep
  entry: '!\[\]\('

forbid-md-links-starting-with-a-slash:
  name: Forbid Markdown hyperlinks starting with a slash
  language: pygrep
  entry: \]\(/(?!(?:/|lucas))

insert-at-least-a-tag-link-in-articles:
  name: Insert at least a tag link in articles
  language: pygrep
  entry: tag/
  args:
  - --negate

ensure-dates-match:
  name: Ensure articles publication Date match their filenames
  language: system
  entry: ./ensure_dates_match.sh

Current reading
  content/2021-04-24-undying-dusk-a-pdf-video-game.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Current reading
  content/pages/30-images-libres-de-droits.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles

Adding new blog article
  content/2016-09-03-probleme-de-maths-de-la-lady-du-lac.md
  content/2022-01-01-escape-from-dino-island.md
  content/2022-10-25-le-mathcober-de-el-jj.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Fixing typo/spelling mistake
  content/2022-10-25-le-mathctober-de-el-jj.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Using <img loading="lazy" instead of lazysides JS
  content/2017-09-07-street-art-and-hedonogeolostism-in-london.md
  content/2018-02-18-glitch-art-and-image-processing-with-python.md
  content/2022-02-12-generative-art.md
  content/2022-02-14-elliot-jolivet-aka-tensei.md
  content/2022-03-07-ptites-sorcieres.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Edit last article
  content/2022-10-25-le-mathctober-de-el-jj.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Providing Gopher access
  build_gopher_dir.py
  pelicanconf.py
Due: none

Minor fixups in build_gopher_dir.py
  build_gopher_dir.py
Due: none

Current reading
  content/pages/00-bienvenue.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles

Adding world-of-dungeons-turbo-breakers
  build_gopher_dir.py
  content/2018-04-24-python-modules-imports-visualization.md
  content/2022-07-25-lady-blackbird.md
  content/2022-11-22-world-of-dungeons-turbo-breakers.md
  content/pages/30-images-libres-de-droits.md
  content/pages/jdr-blades-in-the-dark.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Fix blog post date
  content/2022-11-24-world-of-dungeons-turbo-breakers.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor edit
  content/2022-11-24-world-of-dungeons-turbo-breakers.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Switching image-preview-thumbnailer to loading="lazy"
  pelicanconf.py
Due: none

Adding some illustrations
  content/2022-11-24-world-of-dungeons-turbo-breakers.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Adding animated-one-page-dungeon-escape-of-the-torment
  content/2022-11-24-world-of-dungeons-turbo-breakers.md
  content/2022-12-02-animated-one-page-dungeon-escape-of-the-torment.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Add adj-pour-la-lune-et-12-lotus
  content/2017-08-17-aux-marches-du-pouvoir.md
  content/2022-04-24-fpdf2-5-2-svg-support-and-borb.md
  content/2022-07-25-lady-blackbird.md
  content/2022-07-26-3-nouveaux-scenarios-pour-run-die-repeat.md
  content/2022-11-24-world-of-dungeons-turbo-breakers.md
  content/2022-12-02-animated-one-page-dungeon-escape-of-the-torment.md
  content/2022-12-07-adj-pour-la-lune-et-12-lotus.md
  content/pages/30-images-libres-de-droits.md
  content/pages/jdr-la-lune-et-12-lotus.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Adding another-animated-dungeon-the-sky-blind-spire
  content/2022-11-24-world-of-dungeons-turbo-breakers.md
  content/2022-12-02-animated-one-page-dungeon-escape-of-the-torment.md
  content/2022-12-07-adj-pour-la-lune-et-12-lotus.md
  content/2022-12-12-another-animated-dungeon-the-sky-blind-spire.md
  content/pages/30-images-libres-de-droits.md
  content/pages/jdr-la-lune-et-12-lotus.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Adding la-tour-ciel-aveugle
  content/2022-11-24-world-of-dungeons-turbo-breakers.md
  content/2022-12-02-animated-one-page-dungeon-escape-of-the-torment.md
  content/2022-12-07-adj-pour-la-lune-et-12-lotus.md
  content/2022-12-12-another-animated-dungeon-the-sky-blind-spire.md
  content/2022-12-26-la-tour-ciel-aveugle.md
  content/2022-12-26-psi-run-le-manoir.md
  content/pages/30-images-libres-de-droits.md
  content/pages/jdr-la-lune-et-12-lotus.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Adding psi-run-le-manoir
  content/2022-11-24-world-of-dungeons-turbo-breakers.md
  content/2022-12-12-another-animated-dungeon-the-sky-blind-spire.md
  content/2022-12-26-la-tour-ciel-aveugle.md
  content/2022-12-26-psi-run-le-manoir.md
  content/2022-12-27-psi-run-le-manoir.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor update
  content/2022-12-26-la-tour-ciel-aveugle.md
  content/2022-12-27-psi-run-le-manoir.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor update
  content/2022-12-12-another-animated-dungeon-the-sky-blind-spire.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor edits
  content/2020-04-28-2e-serie-de-scenarios-pour-run-die-repeat.md
  content/2020-05-11-3-derniers-scenarios-pour-run-die-repeat-et-version-pdf.md
  content/2022-07-25-lady-blackbird.md
  content/2022-12-12-another-animated-dungeon-the-sky-blind-spire.md
  content/2022-12-26-la-tour-ciel-aveugle.md
  content/2022-12-27-psi-run-le-manoir.md
  content/pages/30-images-libres-de-droits.md
  content/pages/jdr-la-lune-et-12-lotus.md
  pelicanconf.py
  tasks.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor edits
  .pre-commit-config.yaml
  content/2022-05-01-crafting-nonograms-that-reveal-qrcodes.md
  content/2022-12-07-adj-pour-la-lune-et-12-lotus.md
  content/2022-12-27-psi-run-le-manoir.md
  content/pages/jdr-la-lune-et-12-lotus.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor updates
  content/2022-12-12-another-animated-dungeon-the-sky-blind-spire.md
  content/pages/jdr-blades-in-the-dark.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Current reading
  pelicanconf.py
Due: none

Adding another-animated-dungeon-the-sky-blind-spire.md
  README.md
  content/2017-09-09-premiere-partie-test-de-blades-in-dark.md
  content/2021-12-29-vous-reprendrez-bien-un-peu-de-sombre.md
  content/2022-12-12-another-animated-dungeon-the-sky-blind-spire.md
  content/2023-03-28-slots-memory-optimizations-in-python.md
  content/pages/30-images-libres-de-droits.md
  content/pages/jdr-blades-in-the-dark.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor update
  content/2023-03-28-slots-memory-optimizations-in-python.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Adding rumble-in-the-house.md
  .pre-commit-config.yaml
  content/2021-01-29-fpdf2-3-0-unbreakable-and-pdf-quines.md
  content/2021-06-12-fpdf2-4-0-and-converting-gifs-to-pdfs.md
  content/2021-11-19-hacktoberfest-on-fpdf2.md
  content/2023-03-31-rumble-in-the-house.md
  content/2023-04-02-fpdf2-latest-new-features.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Publishing fpdf2-latest-new-features.md
  content/2022-08-11-rumble-in-the-dungeon.md
  content/2023-03-28-slots-memory-optimizations-in-python.md
  content/2023-03-31-rumble-in-the-house.md
  content/2023-04-02-fpdf2-latest-new-features.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor edits
  content/2022-12-02-animated-one-page-dungeon-escape-of-the-torment.md
  content/2023-04-02-fpdf2-latest-new-features.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor edits
  content/2023-04-02-fpdf2-latest-new-features.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor date fixup
  content/2023-04-03-fpdf2-latest-new-features.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Bitd session recap
  content/pages/jdr-blades-in-the-dark.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles

Minor updates
  content/pages/jdr-blades-in-the-dark.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles

Minor update
  content/2023-03-28-slots-memory-optimizations-in-python.md
  pelicanconf.py
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Adding pylint-strict-base-configuration.md
  content/2017-01-18-analyse-statique-de-code-java-google-error-prone-findbugs-et-pmd.md
  content/2023-03-28-slots-memory-optimizations-in-python.md
  content/2023-05-03-pylint-strict-base-configuration.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Minor update
  content/2021-07-28-bonnes-pratiques-gitlab-ci.md
  content/2023-05-03-pylint-strict-base-configuration.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles, ensure-dates-match

Latest reading
  pelicanconf.py
Due: none

WIP mothership page init
  .gitignore
  content/pages/jdr-mothership.md
Due: forbid-empty-img-alt-in-markdown, forbid-md-links-starting-with-a-slash, insert-at-least-a-tag-link-in-articles

Path conditions:
  forbid-empty-img-alt-in-markdown: any of: \.md$, but not: certification-developpeur-rgaa-access42|rendering-deep-text-based-mindmaps-with-wisemapping-and-python
  forbid-md-links-starting-with-a-slash: any of: \.md$, but not: content/2017-09-25-compte-rendu-de-la-pyconfr-2017.md
  insert-at-least-a-tag-link-in-articles: any of: \.md$, but not: content/2017-09-25-compte-rendu-de-la-pyconfr-2017.md
  ensure-dates-match: any of: content/20[^/]+\.md$
